<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
  	<servlet-name>some</servlet-name>
  	<servlet-class>web.SomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>life</servlet-name>
  	<servlet-class>web.LifeServlet</servlet-class>
  	<!-- 
  		配置初始化参数
  	 -->
  	<init-param>
  		<param-name>company</param-name>
  		<param-value>达内科技</param-value>
  	</init-param>
  	
  	<!-- 
  		如果设置了load-on-startup,则容器启动之后，
  		会立即创建其实例。
  		注：　
  				参数值是一个大于等于０的整数，越小，
  				优先级越高（即先被实例化）。
  	 -->
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>some</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>life</servlet-name>
  	<url-pattern>/life</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>
